@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

html,
body > #root {
  min-height: 100vh;
  font-family: "Jua", sans-serif;
  background-color: #ecffef;
  padding: 15px;
}

.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.centerContents {
  display: flex;
  justify-content: center;
}

.buttonStyle {
  border: none;
  border-radius: 10px;
  background-color: #b5ffab;
  height: 35px;
  width: 184px;
  font: unset;
  line-height: 35px;
  box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
  transition: all 0.1s;
}
.buttonStyle:hover {
  filter: saturate(150%);
}
button,
input[type="submit"] {
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.centerContentsVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalForm {
  background-color: #b5ffab;
  min-width: 350px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
  -moz-box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);

  * label,
  input {
    display: block;
  }

  * label {
    margin-bottom: 10px;
  }

  > form > div {
    margin-bottom: 15px;
  }

  * input[type="text"],
  input[type="number"] {
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
    transition: all 0.1s;
  }
  * input:focus {
    outline-width: 0px;
  }
  * input:hover {
    background-color: aliceblue;
    transform: scale(1.05);
  }

  .dropdown {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
    transition: all 0.1s;
  }
  .dropdown:focus {
    outline-width: 0px;
  }
  .dropdown:hover {
    cursor: pointer;
    background-color: aliceblue;
  }

  .weekDayPicker {
    width: 100%;
    display: flex;
    box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
    border-radius: 10px;

    input[type="button"] {
      flex-grow: 1;
      width: auto;
      display: inline-block;
      border: none;
      height: 2rem;
      border-right: 1px solid black;
    }
    input[type="button"]:hover {
      cursor: pointer;
    }
    input[type="button"]:first-child {
      border-radius: 10px 0 0 10px;
    }
    input[type="button"]:last-child {
      border: none;
      border-radius: 0 10px 10px 0;
    }
  }

  .cuisineGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .cuisineButton {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 100px;
    transition: all 0.1s;
    box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
    font: unset;
  }
  .cuisineButton:hover {
    filter: saturate(150%);
    cursor: pointer;
  }
}

.green {
  background-color: #47f63e !important;
  transition: all 0.1s;
}

.white {
  background-color: white;
  transition: all 0.1s;
}

.listing {
  border: none;
  border-radius: 10px;
  background-color: #e4ffab;
  width: 300px;
  display: flex;
  padding: 10px;
  font-family: unset;
  box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.3);
  img {
    height: 100px;
    border-radius: 10px;
    margin-right: 1rem;
  }
  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .top,
  .bottom {
    display: flex;
    width: 100%;
  }
  .bottom {
    flex-direction: column;
    justify-content: start;
    text-align: left;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .top > div {
    display: flex;
    align-items: center;
    i {
      font-size: small;
      letter-spacing: -5px;
    }
  }
  .top > div > div:first-child {
    font-size: large;
  }
}

.stars {
  color: rgb(244, 230, 23);
}
